.main {
	width: 100%
	height:100px;
	overflow: hidden;
	border: 2px solid;
}
.car {
	height: inherit;
	width: 10500px;
	animation-name: car;
	animation-fill-mode: backwards;
	animation-direction: normal;
	animation-duration: 10s;
	animation-delay: ;
	animation-iteration-count: infinite;
	animation-timing-function: steps(10);
	animation-direction:reverse;
	animation-direction: alternate;
}
.img {
	display: inline;
	position: relative;
	margin-top: 0px;
	height: inherit;
	width: 500px;
	margin: 0px 0px;
	animation-name: op;
	animation-fill-mode: forwards;
	animation-direction: normal;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}
img{
	height: 700px;
	width: 500px;
	display: inline;
}
@keyframes car {
	0%{transform: translateX(0px);}
	100%{transform: translateX(-5000px);}
	
}
@keyframes o {
	0%{opacity: 0}
	33%{opacity: 0.5}
	66%{opacity: 1}
	100% {opacity: 0}
}
@keyframes o {
	0%{opacity: 0}
	33%{opacity: 0.5}
	66%{opacity: 1}
	100% {opacity: 0}
}